In [72]:
import pandas as pd

In [73]:
df = pd.read_csv('pakwheels_data.csv')

In [74]:
df.head()

,Car Name,Car Price,City,Model Year,Used KM,Fuel Type,CC,Type of Vehicle
0,KIA Sportage 2021 AWD for Sale,PKR 71lacs,Rawalpindi,2021,"47,000 km",Petrol,2000 cc,Automatic
1,Toyota Raize 2019 Z for Sale,PKR 59.75lacs,Islamabad,2019,"34,975 km",Petrol,1000 cc,Automatic
2,Toyota Belta 2009 X 1.0 for Sale,PKR 24.75lacs,Karachi,2009,"83,876 km",Petrol,1000 cc,Automatic
3,Mitsubishi Ek Wagon 2016 G for Sale,PKR 21.5lacs,Lahore,2016,"80,000 km",Petrol,660 cc,Automatic
4,Toyota Prado 2020 TX L Package 2.7 for Sale,PKR 3.1crore,Karachi,2020,"23,000 km",Petrol,2700 cc,Automatic

In [76]:
df['Type of Vehicle'].value_counts()

Type of Vehicle
Automatic    225
Manual        85
Name: count, dtype: int64

In [77]:
df['Fuel Type'].value_counts()

Fuel Type
Petrol      259
Hybrid       35
Diesel       12
CNG           2
Electric      2
Name: count, dtype: int64

In [78]:
dff = pd.get_dummies(df, columns=['Type of Vehicle', 'Fuel Type'], drop_first=True)

dff.head(3)

,Car Name,Car Price,City,Model Year,Used KM,CC,Type of Vehicle_Manual,Fuel Type_Diesel,Fuel Type_Electric,Fuel Type_Hybrid,Fuel Type_Petrol
0,KIA Sportage 2021 AWD for Sale,PKR 71lacs,Rawalpindi,2021,"47,000 km",2000 cc,False,False,False,False,True
1,Toyota Raize 2019 Z for Sale,PKR 59.75lacs,Islamabad,2019,"34,975 km",1000 cc,False,False,False,False,True
2,Toyota Belta 2009 X 1.0 for Sale,PKR 24.75lacs,Karachi,2009,"83,876 km",1000 cc,False,False,False,False,True

In [79]:
##OHE by using sklearn
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,3:], df.iloc[:,1:3], test_size=0.2, random_state=0)

In [80]:
X_test.head()

     Model Year     Used KM Fuel Type       CC Type of Vehicle
300        2023   17,000 km    Petrol  1500 cc       Automatic
145        2014  200,000 km    Petrol  1300 cc          Manual
302        2020   50,979 km    Petrol  2000 cc       Automatic
222        2021   54,000 km    Petrol  1800 cc       Automatic
52         2017   75,000 km    Petrol  1500 cc       Automatic

In [81]:
from sklearn.preprocessing import OneHotEncoder

In [82]:
ohe = OneHotEncoder(drop='first')

In [83]:
x_train_new = ohe.fit_transform(X_train[['Type of Vehicle', 'Fuel Type']]).toarray()

In [84]:
X_test_new = ohe.transform(X_test[['Type of Vehicle', 'Fuel Type']]).toarray()

In [85]:
import numpy as np
np.hstack((X_train[['Model Year', 'Used KM','CC']].values, x_train_new)).shape

(248, 8)